.userData{
    padding: 15px;
    background-color: rgba(245, 250, 255, 1);
    min-height: 548px;
}
.userTable{
    font-size: 11px;
}
.userTable th{
    font-weight: normal;
}
.tableTitle{
    font-size: 30px;
    margin-bottom: 10px;
}
.counter{
    width: 100%;
    margin-bottom: 33px;
}
.counter > div{
    display: inline-block;
    padding: 10px 10px;
    font-size: 11px;
    width: 14%;
    cursor: pointer;
}

.fColor{    
    color: gray !important;
}
.counter > div > div > span{
    float: right;
    margin-top: 2%;
}
.counter > div:nth-child(1){
    color:black;
}
.counter > div:nth-child(2){
    color:orange;
}
.counter > div:nth-child(3){
    color:red;
}
.counter > div:nth-child(4){
    color:royalblue;
}
.counter > div:nth-child(5){
    color:blue;
}
.counter > div:nth-child(6){
    color:rgb(190, 207, 34);
}
.counter > div:nth-child(7){
    color:rgb(44, 212, 81);
}
.counter > div:nth-child(8){
    color:black;
}
.counter > div:nth-child(9){
    color:black;
}
.counter > div > div:nth-child(1){    
    font-size: 30px;
}
.counter > div > div:nth-child(2){    
    white-space:nowrap;
    border-bottom: 1px solid;
    padding: 2px;
}
.table > tbody > tr > td{
    border-top: 0.1px solid rgba(186, 188, 188, 0.1);
}
.table > thead > th {
    border-bottom: 0.1px solid rgba(186, 188, 188, 1);
    padding: 4px 12px;
}