
<div class='table-responsive userData'>
    <div class="counter" >
      <div (click)="filter('Prospect')">
        <div>{{getCount('Prospect') | number : '2.0-2' }}</div>
        <div>Prospect <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'Prospect'? '' : 'fColor'"></span></div>
      </div>
      <div (click)="filter('New Deal')">
         <div>{{getCount('New Deal') | number : '2.0-2' }}</div>
         <div>New Deals <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'New Deal'? '' : 'fColor'"></span></div>
       </div>
       <div (click)="filter('Under Consideration')">
         <div>{{getCount('Under Consideration') | number : '2.0-2' }}</div>
         <div>Under Consideration <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'Under Consideration'? '' : 'fColor'"></span></div>
       </div>
       <div (click)="filter('LOI')">
         <div>{{getCount('LOI') | number : '2.0-2' }}</div>
         <div>LOI <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'LOI'? '' : 'fColor'"></span></div>
       </div>
       <div (click)="filter('Awarded')">
         <div>{{getCount('Awarded') | number : '2.0-2' }}</div>
         <div>Awarded <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'Awarded'? '' : 'fColor'"></span></div>
       </div>
       <div (click)="filter('Closed')">
           <div>{{getCount('Closed') | number : '2.0-2' }}</div>
           <div>Closed <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'Closed'? '' : 'fColor'"></span></div>
       </div>
       <div (click)="filter('Onboarded')">
         <div>{{getCount('Onboarded') | number : '2.0-2' }}</div>
         <div>Onboarded <span class="glyphicon glyphicon-ok-circle" [ngClass]="noFilter == 'Onboarded'? '' : 'fColor'"></span></div>
       </div>
    </div>
    <table class='table userTable' >
      <thead>
        <th>Deal Name</th>
        <th>Deal Address</th>
        <th>Fund Name</th>
        <th>Property Name</th>
        <th>Deal Stage</th>
        <th>Deal Status</th>
        <th>Deal Type</th>
        <th>MNPI Status</th>
        <th>Primary Acquisition Officer</th>
        <th>Market</th>
        <th>Sub Market</th>
        <th>Property Region</th>
        <th>TIAA Valuation</th>
        <th>SF/Unit</th>
        <th>Investment ID</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of todoSPList">
            <td><a [routerLink]="['documents',item.id]">{{item?.title}}</a></td>
            <td>{{item?.address}}</td>
            <td>{{item?.fundName}}</td>
            <td>{{item?.propertyType}}</td>
            <td>{{item?.dealStage}}</td>
            <td>{{item?.dealStatus}}</td>
            <td>{{item?.dealType}}</td>
            <td>{{item?.mNPIStatus}}</td>
            <td>{{item?.primaryAcquisitionOfficer}}</td>
            <td>{{item?.market}}</td>
            <td>{{item?.subMarket}}</td>
            <td>{{item?.propertyRegion}}</td>
            <td>{{item?.tIAAValuation}}</td>
            <td>{{item?.sFUnit}}</td>
            <td>{{item?.investmentID}}</td>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
</div>
