
<div class='table-responsive userData'>
    <div class="tableTitle">User Information</div>
    <table class='table table-striped userTable'>
      <tbody>
        <tr>
            <td>Business Phones</td>
            <td>{{userData?.businessPhones}}</td>
        </tr>
        <tr>
            <td>Display Name</td>
            <td>{{userData?.displayName}}</td>
        </tr>
        <tr>
            <td>Given Name</td>
            <td>{{userData?.givenName}}</td>
        </tr>
        <tr>
            <td>Id</td>
            <td>{{userData?.userData}}</td>
        </tr>
        <tr>
            <td>Job Title</td>
            <td>{{userData?.jobTitle}}</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>{{userData?.mail}}</td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td>{{userData?.mobilePhone}}</td>
        </tr>
        <tr>
            <td>Office Location</td>
            <td>{{userData?.officeLocation}}</td>
        </tr>
        <tr>
            <td>Preferred Language</td>
            <td>{{userData?.preferredLanguage}}</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>{{userData?.surname}}</td>
        </tr>
        <tr>
            <td>User Principal Name</td>
            <td>{{userData?.userPrincipalName}}</td>
        </tr>
      </tbody>
    </table>
  </div>